[run]
source = src/backend/app
omit =
    */tests/*
    */__pycache__/*
    */venv/*

[report]
exclude_lines =
    pragma: no cover
    def handle_value_error
    def handle_permission
    def handle_error
    except ValueError as e:
    raise NotImplementedError
    if __name__ == .__main__.:
show_missing = True